@import url('https://fonts.googleapis.com/css?family=Roboto');
 .navigation {
    position: fixed;
    top: 0px;
    height: 75px;
    background: linear-gradient(45deg, #000000, #262821);
    min-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    min-height: 875px;
}
 .brand {
    position: fixed;
    left: 10%;
    margin: 0 1rem;
    line-height: 75px;
    text-transform: uppercase;
    font-size: 1.6em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 .brand a {
     color: #b9c2c4;
     text-decoration: none;
}

.brandabv {
    display: none;
    float: left;
    line-height: 75px;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.brandabv a {
    color: #b9c2c4;
    text-decoration: none;
}

.navdropdown {
    position: absolute;
    top: 60px;
    background: rgb(79, 85, 99);
    transform: translateX(-20%);
    transition: background 300ms;
    padding: 0.2rem;
    z-index: 50;
    box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
    overflow: hidden;
}

.navdropdown:hover{
    background-color: rgb(74, 90, 109);
}

.droplist{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 20px;
}

.droplist a{
    font-size: 1.2rem;
    color:rgb(208, 208, 208);
    transition: color 300ms;
}
.droplist a:after{
    padding-left: 2px ;
    content: ' \025BE';
}
.droplist a:hover{
    color: rgb(170,150,150);
}

.overlay{
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left:0;
    right:0;
    width:100%;
    height:100%;
    overflow:auto;
    z-index: 10;
}

.hamwrapper{
    position: relative;
    right: 20px;
    margin: 1rem 1rem;
    display: none;
}

.hamreg{
    width: 50px;
    height: 5px;
    background-color: rgb(208, 208, 208);
    margin: 8px 0;
    transition: all 0.4s ease-in-out;
}
.hamreg::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: rgb(208, 208, 208);
    margin: 8px 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(-20px)
}
.hamreg::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: rgb(208, 208, 208);
    margin: 8px 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(5px)
}

.hamchange{
    width: 40px;
    height: 5px;
    background-color: transparent;
    margin: 8px 0;
    transition: all 0.4s ease-in-out;
    transform: translateX(-20px);
}
.hamchange::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: rgb(208, 208, 208);
    transition: all 0.4s ease-in-out;
    transform: rotate(45deg)
}
.hamchange::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: rgb(208, 208, 208);
    transition: all 0.4s ease-in-out;
    transform: rotate(-45deg)
}

.sidenav {
    position: absolute;
    padding: 50px 20px;
    top: -10px;
    right: -10px;
    background: #24231f;
    border-radius: 3px;
    box-shadow: inset -10px -5px 20px #040403;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: right;
    line-height: 5rem;
    min-width: 300px;
    z-index: 10;
}

.sidenav a{
    color: #b9c2c4;
    font-size: 40px;
    font-family: 'Courier';
}

.sidenav a:hover{
    color: #abb972;
    transition: color 0.5s ease;
}

.backgroundblur{
    display: block;
    position: absolute;
    right: -35px;
    top: -20px;
    width: 500px;
    height: 950px;
    opacity: 0.8;
    background: rgb(189, 189, 189);
    z-index: 8;
    transition: background 300ms;
}

.navwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.navwrap li {
    padding: 0 20px;
    font-size: 1.2rem;
}

.navwrap li a, .navwrap li a:visited {
display: float;
padding: 0 0px;
line-height: 75px;
background: transparent ;
text-decoration: none;
}

.navwrap li a{
background: transparent;
transition: color 300ms;
color: #d9d9d9;
}

.navwrap li a:hover, .navwrap li a:visited:hover {
color: rgb(170,150,150);
}

@media only screen and (max-width: 1020px){
    .brandabv{
        display: block;
        position: absolute;
        left: 0;
        padding-left: 2rem;
    }
    .brand {
        display: none;
   }
}

@media only screen and (max-width: 825px){
    .hamwrapper{
        position: fixed;
        right: 0px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        z-index: 10;
    }
}