.container {
    display: block;
    width: 100%;
    min-height: 475pt;
  }

.logo {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 20px);
    z-index: 2;
}

.background{
    position: relative;
    margin: 50px 10% 0;
    display: flex; /* play around with the flex wrap and the direction */
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}

.iconwrap{
    background-color: transparent;
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
}

@media (max-width: 600px) {
    .iconwrap{
        margin: 80px 0;
    }
  }